{% extends 'layout.html' %}

{% block extra_css %}
<style type="text/css">
#bannerCarousel img{
  width:1170px;
  height:400px;
}
</style>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$("#bannerCarousel").carousel();
</script>
{% endblock %}
{% block content %}
<div class="container content-background">
  <div class="row-fluid">
      <div class="span4">
      <h2>餐厅列表<h2>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span12">
        <div id="bannerCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <a href="/topic/iPhone/"><img src="/img/cafe2.jpg" alt=""></a>
              <div class="carousel-caption">
                <a href="/topic/iPhone/"><h4>阿牛与仙草</h4></a>
                <p>这个专售奶茶甜品的小店一开店就在全校掀起了一股热潮~</p>
              </div>
            </div>
            <div class="item">
              <a href="/topic/音乐/"><img src="/img/cafe1.jpg" alt=""></a>
              <div class="carousel-caption">
                <a href="/topic/音乐/"><h4>独峰咖啡</h4></a>
                <p>坐落在独峰书院的旁边，这家咖啡厅正适合拿着一本心仪的书，一边品味卡布奇诺，一边享受阅读的乐趣</p>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#bannerCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#bannerCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
    <div class='row-fluid'>
      {% for canteen in canteenList %}
      {{loop.cycle("<div class='row-fluid'>","","")}}
      <div class="span4 canteen-grid">
        <div class="" style="position:relative">
          <div>
            <a href='/canteen/{{canteen._id}}/' class="title"><h3>{{canteen.name}}</h3></a>
          </div>
        </div>
        <div class="" >
          <img src="/img/canteen_sample.jpg" class="preview">
        </div>
        <hr>
        <div class="" style="">
          位置:清华大学东门外
        </div>
        <hr>
      </div>
       {{loop.cycle("","","</div>")}}
      {% endfor %}
    </div>
  </div>
  {% endblock %}