{% extends 'layout.html' %}

{% block extra_css %}
<style type="text/css">

</style>


{% endblock %}
{% block content %}
          <div class="hero-unit">
            <h1>清华吃货圈</h1>
            <p>欢迎来到清华吃货圈——我们专注于打造清华饮食网络平台，为清华人提供校内最新的饮食资讯</p>
            <p><a class="btn btn-primary btn-large">开始探索 >></a></p>
          </div>
           <div class="row">
        	<div class="span4">
              <h2>最新的饮食资讯</h2>
              <p>在这里，你可以方便地搜索查看清华校内各大食堂、餐饮店的食物信息，第一时间了解新品资讯</p>
            </div><!--/span-->
            <div class="span4">
              <h2>深入了解清华饮食圈</h2>
              <p>你可以对校内的餐饮店、食物评分、评论。而从他人的评论中，你也许能够发现清华饮食新的一面。</p>
            </div><!--/span-->
            <div class="span4">
              <h2>我吃货我做主</h2>
              <p>对食堂有建议要提？想吃一个新的菜？这个平台任你说，得到较多支持的建议将被提交到学校审核，甚至成为现实</p>
            </div><!--/span-->
          </div><!--/row-->
{% endblock %}