<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{title}}清华吃货圈</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/css/zebra_dialog.css">
<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
{% block extra_css %}

{% endblock %}
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">清华吃货圈</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="/">主页</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
	<div class="container">
		
      {% block content %}
      {% endblock %}
      
	</div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">清华吃货圈</p>
    </div>
  </div>
<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/zebra_dialog.js"></script>
<script type="text/javascript" src="/js/Util.js"></script>
{% block extra_js %}{% endblock %}
</body>
</html>