<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{title}}清华吃货圈</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/css/zebra_dialog.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<style type="text/css">
      div.inner{
  width:960px;
  margin: 0 auto;
}
.navbar-inner .user-avatar{
  width: 20px;
  height: 20px;
}
    </style>
{% block extra_css %}

{% endblock %}
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </a>
        <a class="brand" href="/">清华吃货圈</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="{% if canteenIndex %} active {% endif %}"><a href="/">餐厅列表</a></li>
            <li class=""><a href="/">关于我们</a></li>
          </ul>
        </div>
        <p class="navbar-text pull-right">
        {% if user %}
          <img class="user-avatar" src="{{user.avatarUrl}}" /> <span>{{user.name}}</span>
        {% else %}
          <a href="/auth/login/?platform=renren" class="navbar-link">以人人账号登陆</a>
        {% endif %}
        </p>
      </div>
    </div>
  </div>
	<div class="container">
		
      {% block content %}
      {% endblock %}
      
	</div>
  <div id="footer">
    <div class="container">
      <p class="muted credit">清华吃货圈</p>
    </div>
  </div>
<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/zebra_dialog.js"></script>
<script type="text/javascript" src="/js/Util.js"></script>
<script type="text/javascript" src="/js/underscore.js"></script>
<script type="text/javascript" src="/js/backbone.js"></script>
<script type="text/javascript">
/*
_.templateSettings = {
  interpolate : /\{\{(.+?)\}\}/g
};*/
</script>
{% block extra_js %}

{% endblock %}
</body>
</html>