<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{{title}}清华吃货圈</title>

<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css">
<link rel="stylesheet" type="text/css" href="/css/zebra_dialog.css">
<link rel="stylesheet" type="text/css" href="/css/main.css">
<style type="text/css">
      div.inner{
  width:960px;
  margin: 0 auto;
}
body{
  padding-top: 40px;
}
.navbar-inner .user-avatar{
  width: 20px;
  height: 20px;
}

#footer{
  margin-top: 20px;
  box-shadow: 0 2px 2px #000; 
}
#block-content{
  box-shadow: 0 2px 2px #000; 
}

/**************************
* Feedback
**************************/
#feedback {
  position: absolute;
  top: -20%;
  right: 120%;
  box-shadow: 0 0 2px #000;
  padding: 10px 10px ;
  background: #fff;
  display: none;
}

.renren-logo{
  /*background: url("/img/ico_renren_16x16.png");
  width: 16px;
  height: 16px;*/
  margin: 5px;
}
    </style>
{% block extra_css %}

{% endblock %}
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>

        </a>
        <a class="brand" href="/">清华吃货圈</a>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="{% if canteenIndex %} active {% endif %}"><a href="/">餐厅列表</a></li>
            <li class="{% if aboutIndex %} active {% endif %}"><a href="/about/">关于</a></li>
          </ul>
          
        </div>
        <p class="navbar-text pull-right">
          
        {% if user %}
          <img class="user-avatar" src="{{user.avatarUrl}}" /> <span>{{user.name}}</span>
        {% else %}
          <a href="/auth/login/?platform=renren" class="navbar-link"><img src="/img/ico_renren_16x16.png" class="renren-logo">以人人账号登陆</a>
        {% endif %}
        <!--
        <xn:login-button autologoutlink="true"></xn:login-button>
          <script type="text/javascript" src="http://static.connect.renren.com/js/v1.0/FeatureLoader.jsp"></script>
          <script type="text/javascript">
            XN_RequireFeatures(["EXNML"], function()
            {
              XN.Main.init("16356ddc758343a39400837e79f1a18e", "/xd_receiver.html");
            });
        </script>-->
        </p>
      </div>
    </div>
  </div>
	<div class="container" id="block-content">
		
      {% block content %}
      {% endblock %}
      
	
  </div>


  <div id="footer" class="container">
    <div class="content-background">
      <div class="row-fluid">
        <div class="span3">
          <h2 class="title">清华吃货圈</h2>
          <p class="remark pull-right">----吃，不仅仅是那么简单</p>
        </div>
        <div class="span7">
          <p class="muted credit">Copyright©2012</p>
          <p class="muted credit">Contact:zhangty10@gmail.com</p>
          <p class="muted credit">
            Built by <a href="http://weibo.com/firstprayer">@Taylor</a> who just wants to give one of his dreams a try.
          </p>
       </div>
       <div class="span2">
        <div class="pull-right"  style="position:relative;">
          <div ><a href="/about/" class="title">關於我們</a></div>
          <div class="clear-fix"></div>
          <div>
            <a id="feedback-button" href="javascript:void" class="title">意見反饋</a>
             <div id="feedback">
                  <div id="feedback-main">
                    <textarea class="input-medium" rows="4" placeholder="有任何不满或者疑问，都请告诉我们，让我们做出您更喜欢的产品！" maxlength="300"></textarea>
                    <button id="feedback-submit" class="btn">提交</button>
                  </div>
              </div>
           </div>
          <div class="clear-fix"></div>
        </div>
       </div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/zebra_dialog.js"></script>
<script type="text/javascript" src="/js/Util.js"></script>
<script type="text/javascript" src="/js/underscore.js"></script>
<script type="text/javascript" src="/js/backbone.js"></script>
<script type="text/javascript">
$("#feedback-button").click(function(){
    $("#feedback").toggle();
});

$('#feedback-submit').click(function() {
  var content = $('#feedback-main textarea').val();
  if (content && content.length > 7) {
    var json = {'content':content, "fromUrl":window.location.href};

    $.post('/feedback/', json, function(){
      Util.notifySuccess({content:"我们已经收到您的反馈，感谢支持！我们将会充分考虑你的意见！"});
    $('#feedback-main textarea').val('');
    }).error(function() {
      Util.notifyError();
    });
  } else {
    Util.notifyError({content:"长度不足，请重新输入"});
  }
  });

</script>
{% block extra_js %}

{% endblock %}
</body>
</html>