{% extends 'layout.html' %}

{% block content %}

<div class="row-fluid">
	<!--
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list" id="managerSidebar">
        	<li id="manageCanteen"><a href="javascript:AdminController.manageCanteen();">食堂管理</a></li>
        	<li id="manageDish"><a href="javascript:AdminController.manageDish();">食物管理</a></li>
        </ul>
      </div>
    </div>-->
 <div class="span12" id="mainContent">
 	<div class="row-fluid">
	{% for canteen in canteenList %}
	<div class="row-fluid">
		<div class="span12">
			<div class="span2">
				<h2>{{canteen.name}}</h2>
			</div>
			<div class="span6">
				{{canteen.description}}
			</div>
			<div class="span4">
				<a class="btn" href="javascript:AdminController.editCanteenForm('{{canteen._id}}')">编辑</a>
				<a class="btn">删除</a>
				<a class="btn">新建食物</a>
			</div>
		</div>
	</div>
	{% endfor %}
	<div class="span6 offset6">
	<a class="btn" href="#create-canteen-modal" role="button" data-toggle="modal">新建食堂</a>
	</div>
</div>
<div class="modal hide fade" id="create-canteen-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<form class="form-horizontal" id="createCanteenForm" action="/canteens/" method="post">
		<div class="modal-header">
		<legend id="formName">新建食堂</legend>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label">食堂名称</label>
				<div class="controls">
					<input type="text" placeholder="请输入食堂名称" name="canteenName">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">食堂描述</label>
				<div class="controls">
					<textarea name="canteenDescription" rows="3"></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">描述图片</label>
				<div class="controls">
					<input type="file" name="canteenPreview" />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="control-group">
				<div class="controls">
					<input class="btn" type="submit" value="新建>>">
				</div>
			</div>
		</div>
	</form>
</div>

<div class="modal hide fade" id="edit-canteen-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<form class="form-horizontal" id="editCanteenForm" action="/canteen/" method="post">
		<div class="modal-header">
		<legend id="formName">编辑食堂</legend>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label">食堂名称</label>
				<div class="controls">
					<input type="text" placeholder="请输入食堂名称" name="canteenName">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">食堂描述</label>
				<div class="controls">
					<textarea name="canteenDescription" rows="3"></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">描述图片</label>
				<div class="controls">
					<input type="file" name="canteenPreview" />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="control-group">
				<div class="controls">
					<input class="btn" type="submit" value="提交编辑>>">
				</div>
			</div>
		</div>
	</form>
</div>
 </div>
</div>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/js/jquery.form.js"></script>
<script type="text/javascript" src="/js/admin.js"></script>
<script type="text/javascript">


/*
AdminController.manageCanteen = function(){
	$.ajax({
		url:'/admin/canteen/',
		type:'get',
		success:function(html){
			$("#mainContent").html(html);
			$("#managerSidebar li").each(function(v){
				$(this).removeClass("active");
			});
			$("#manageCanteen").addClass("active");
		},
		error:function(){

		}
	});
}
AdminController.manageDish = function(){
	$.ajax({
		url:'/admin/dish/',
		type:'get',
		success:function(html){
			$("#mainContent").html(html);
			$("#managerSidebar li").each(function(v){
				$(this).removeClass("active");
			});
			$("#manageDish").addClass("active");
			//Util.notifySuccess();
		},
		error:function(){

		}
	});
}


AdminController.createCanteen = function(data,callback){
	$.ajax({
		url:'/canteens/',
		type:'POST',
		data:data,
		success:function(res){
			Util.notifySuccess();
			callback({OK:true});
		},
		error:function(res){
			callback({OK:false});
		}
	});
}*/
AdminController.editCanteenForm = function(id){
	$.ajax({
		url:'/api/canteen/' + id + '/',
		type:'get',
		dataType:'json',
		success:function(data){
			console.log(data);
			var form = $("#editCanteenForm");
			form.attr("action","/canteen/" + id + "/");
			form.find('input[name=canteenName]').val(data.name);
			form.find('textarea[name=canteenDescription]').val(data.description);
			$("#edit-canteen-modal").modal('show');
			
		},
		error:function(data){

		}
	});
}

$("#createCanteenForm").ajaxForm({
	success:function(){
		Util.notifySuccess();
		$("#create-canteen-modal").modal('hide');
	},
	error:function(){
	},
	clearForm:true
});

$("#editCanteenForm").ajaxForm({
	success:function(){
		Util.notifySuccess();
		$("#edit-canteen-modal").modal('hide');
	},
	error:function(){
	},
	clearForm:true
});



</script>
{% endblock %}