{% extends 'layout.html' %}

{% block content %}
	<form class="form-horizontal" id="createCanteenForm" action="/canteens/" method="post" enctype="MULTIPART/FORM-DATA">
		<div class="modal-header">
		<legend id="formName">新建食堂</legend>
		</div>
		<div class="modal-body">
			<div class="control-group">
				<label class="control-label">食堂名称</label>
				<div class="controls">
					<input type="text" placeholder="请输入食堂名称" name="canteenName">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">食堂描述</label>
				<div class="controls">
					<textarea name="canteenDescription" rows="3"></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">食堂电话</label>
				<div class="controls">
					<input type="text" placeholder="" name="canteenPhone">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">食堂位置</label>
				<div class="controls">
					<input type="text" placeholder="" name="canteenLocation">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">食堂特色(以空格分隔)</label>
				<div class="controls">
					<input type="text" placeholder="" name="canteenSpecial">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">描述图片</label>
				<div class="controls">
					<input type="file" name="canteenPreview" />
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<div class="control-group">
				<div class="controls">
					<input class="btn" type="submit" value="新建>>">
				</div>
			</div>
		</div>
	</form>

{% endblock %}